# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Bad-Way-Project.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Blank\OneDrive\Документы\Bad-Way-Project\.idea\.idea.Bad-Way-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
