# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.UnityProject.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Blank\OneDrive\Документы\UnityProject\.idea\.idea.UnityProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
